@import '../../views/LessonPlanDetailPage/variables';

.Tag {
  font-size: 12pt;
  font-weight: 400;
  color: $atomic-blue;
  border: 2px solid $atomic-blue;
  border-radius: 5rem;
  padding: .35rem .65rem;
  margin: .35rem; 
  white-space: nowrap;
  display: inline-block;
}