.SmartSearchWrapper {
  .icon {
    position: fixed;
    z-index: 999;
    bottom: 3rem;
    left: 3rem;
    font-size: 3rem;
  }
}
.SmartSearchDialog .MuiDialog-paper {
  width: 100%;
  .SmartSearch {
    display: flex;
    align-items: center;
    > .MuiFormControl-root {
      flex-grow: 1;
      margin-right: 1rem;
    }
  }
}