@import "../variables";
@import "../../../assets/scss/core/variables";

.Overview {
  #targetSubj {
    margin-bottom: 2rem;
    > * {
      display: inline-block;
    }
    p {
      padding-left: 1rem;
    }
  }
  .stats {
    margin: 2rem 0;
    padding: 1rem 0.5rem 1rem;
    text-align: center;
    background-color: $gray;
    .statIcon {
      margin-bottom: 0;
    }
    .statContainer {
      display: inline-block;
      h3 {
        margin: 0;
        font-weight: 300;
      }
    }
    .border-right {
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        border-right: 1px solid $charcoal;
      }
    }

    h5 {
      margin-top: 0;
    }
    p {
      margin: 0 0 0.5rem 0;
    }
    .epaulette {
      padding: 0.5rem 0;
    }
    @media (max-width: map-get($grid-breakpoints, "sm")) {
      .statContainer {
        border-bottom: 1px solid $charcoal;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        width: 100%;
      }
      #lastGridItem {
        border-bottom: none;
      }
    }
    @media (max-width: map-get($grid-breakpoints, "md")) {
      .statContainer {
        h3 {
          font-size: 1.3rem;
        }
      }
    }
  }
  #lessonhook {
    padding-top: 1.5rem;
  }
  .keywords {
    padding: 0.85rem 0;
  }
}

.Procedure {
  h3 {
    color: $hydrogen-blue;
    text-transform: uppercase;
  }
  .RichText {
    img {
      display: block;
      width: 90%;
      max-width: 45rem;
      margin: 2rem auto 1rem auto;
    }
  }
}

.ExpansionPanelSummary {
  &:active {
    background: inherit;
  }
}

.Standards {
  .MuiExpansionPanelDetails-root {
    display: block;
  }
  .MuiExpansionPanelSummary-content {
    display: block;
  }
}

.SteamBadge {
  @media (max-width: map-get($grid-breakpoints, "md")) {
    padding-right: 2rem !important;
  }
  > .Image {
    display: block;
    max-height: 60vh;
    margin: auto;
  }
  .MuiExpansionPanelDetails-root {
    display: block;
  }
  .footnote {
    background: $gray;
    padding: 1rem;
  }
}

.CollapsibleSection.ExpansionPanel {
  margin: 2rem 0 !important;
  border: none !important;
  @media (max-width: map-get($grid-breakpoints, "md")) {
    > * {
      padding-right: 2rem !important;
    }
  }
  &.MuiExpansionPanel-root {
    &::before {
      display: none;
    }
    .SectionHeading {
      margin: 0;
      .MuiExpansionPanelSummary-root {
        padding: 0;
        .MuiExpansionPanelSummary-content {
          margin: 0 !important;
          h2 {
            margin: 0;
          }
        }
        > .MuiExpansionPanelSummary-expandIcon .MuiSvgIcon-root {
          font-size: 2.25rem;
          color: $charcoal;
        }
      }
    }
    .MuiCollapse-wrapper {
      padding-top: 2rem;
    }
    .ExpansionPanelDetails {
      padding: 0 !important;
    }
  }
}

.Acknowledgments {
  .role {
    margin-bottom: 2rem;
    p {
      margin: 0.5rem 0;
    }
    .record {
      margin: 1.25rem 0;
      h5 {
        margin-bottom: 0.25rem;
        a {
          color: $burst-purple;
          &:hover {
            color: $flare-fuschia;
          }
        }
      }
    }
  }
}

.Versions {
  p {
    margin: 0 0 0.3rem 0 !important;
  }
  .date {
    font-style: italic;
    color: rgba($charcoal, 0.8);
    margin: 0;
  }
  .major {
    margin-bottom: 2rem;
    .minor {
      h5 {
        margin-bottom: 0;
      }
      margin-bottom: 1rem;
    }
  }
}
