@import "../../variables";
@import "../../../../assets/scss/core/variables";

.TeachingMethod {
  button {
    padding: 0;
  }
  @media (max-width: map-get($grid-breakpoints, "md")) {
    padding-right: 2rem;
  }
  .ExpansionPanelDetails {
    display: block;
  }
  .ResourceSummary {
    background: $gray;
    padding: 0.5rem 2rem;
    > div {
      > div {
        padding: 0.75rem 0;
        line-height: 1.7;
        font-size: 1.1em;
      }
      &:not(:last-child) > div {
        border-bottom: 1px solid rgba($galactic-black, 0.5);
      }
    }
  }
  .resourceSummaryItem {
    span[role="img"] {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      display: inline-block;
      text-align: center;
    }
  }
}
