.scroll-indicator-controller {
  &:hover,
  &:active {
    div span {
      width: auto;
      opacity: 1;
      overflow: visible;
      transform: translateY(-50%) translateX(0px);
    }
  }
  position: fixed;
  top: 50vh;
  transform: translate(0, -50%);
  right: 12px;
  z-index: 999;
  &.indi-mobile {
    .navDot span {
      display: none;
    }
  }
  @media (min-width: 1025px) {
    right: 12px;
  }
  .navDot {
    &:hover,
    &:active {
      text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;
    }
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: 50%;
    border: 2px solid rgb(190, 190, 190);
    background: rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 0;
    cursor: pointer;
    transition: background 0.4s ease;
    will-change: transition;
    &.teaching_materials {
      border: 2px solid  #cb1f8e;
    }
    span {
      /*characterizing the textbox for section titles*/
      position: absolute;
      right: calc(100% + 10px);
      white-space: nowrap;
      top: 50%;
      font-size: 16px;
      line-height: 17px;
      width: auto;
      overflow: hidden; 
      opacity: 0;
      transform: translateY(-50%) translateX(0px);
      transition: all 0.4s ease;
      will-change: transition;
      color: #363636;
      background-color: #ffffff;
      border: none;
      box-shadow: none;
      //box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
      //0 8px 10px -5px rgba(0, 0, 0, 0.2);
      font-weight: 400;
      padding: 6px;
      /*  disable text highlighting on long press for mobile*/
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &:hover {
        background-color: #d5e6f3;
        border: 1px solid #363636;
        border-radius: 6px;
      }
      /*make space to see labels around your thumb on mobile */
      @media only screen and (max-width: 600px) {
        border: 1px solid #363636;
      }
      @media only screen and (max-width: 600px) {
        right: calc(100% + 60px);
        &:after {
          content: "";
          border-bottom: 1px dashed #363636;
          position: absolute;
          width: 52px;
          left: 101%;
          bottom: 50%;
          padding-left: 5px;
          vertical-align: text-top;
          line-height: 14px;
        }
      }
    }
    &.activeDot {
      background: #2c83c3;
      border-color: #2c83c3;
      span {
            background-color: #d5e6f3;
            border: 1px solid #363636;
            border-radius: 6px;
            box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
              0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
      &.teaching_materials{
        background: #cb1f8e;
        border: solid 2px #cb1f8e;
        span {
          background-color: #ffeaf8;
          border: 1px solid #1b0012;
        }
      }
    }
    @supports (-ms-ime-align: auto) {
      span {
        transition: opacity 0.4s ease;
      }
    }
  }
}
