@import '../../../variables';

.VariableResourceDownload {
  .variations {
    padding-left: 2rem;
  }
}
.SimpleResourceDownload {
  margin: 1rem 0 2rem 0;
  > div {
    &:not(.RichText) {
      color: rgba($charcoal, .8);
      margin: 0.15rem 0;
    }
    > div {
      padding-left: 2rem;
    }
  }
}