.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  width: 120px;
  background-color: #f0f4ff;
  font-weight: bold;
  color: #3c4858;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  top: 80%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
  animation: hideAnimation 0s ease-in 4s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}