input[type="text"] {
  -webkit-appearance: none;
}

#searchbar-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.jobviz-parent,
.crumbs {
  display: flex;
  /* border: solid lightgreen 5px; */
  justify-content: center;
  margin: 25px;
  align-items: center;
}

.card-parent-container {
  display: flex;

  justify-content: center;
}
.card-parent {
  display: flex;

  align-items: center;
  padding: 10px;
  align-items: center;
  word-wrap: break-word;
  height: 100px;
  width: 100px;
  background-color: rgb(34, 88, 142);
  /* border: solid black 1px; */
  border-radius: 10px;
  cursor: pointer;
}

.card-parent p {
  font-size: 15px;
  color: white;
}
.card-child-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.card-child {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;

  align-items: center;
  word-wrap: break-word;

  height: 80px;
  width: 80px;
  background-color: rgb(133, 135, 137);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  /* border: solid black 1px; */
  border-radius: 10px;
  cursor: pointer;
}
.card-child p {
  font-size: 10px;
  color: white;
}
.endpointCard {
  border: solid black 3px;
  background-color: yellow;
}

.jobviz-header small,
h4 {
  display: flex;
  /* border: solid pink 2px; */
  flex-direction: column;
  align-items: center;
  /* font-size: 12px; */
  text-align: center;
}

.jobviz-parent-card {
  display: flex;
  /* border: solid black 2px; */
  justify-content: flex-start;
  align-items: center;
  padding-top: 1px;
}
.option:hover {
  background-color: #f9fbb4;
  border-radius: 5px;
  cursor: pointer;
}

p {
  font-size: 2.5em;
}
.btn-container {
  display: flex;
  /* border: solid lightslategrey 5px; */
  justify-content: center;
  /* margin: 25px; */
  align-items: center;
}
.link-btn {
  display: flex;
  /* border: solid pink 2px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 0.5em;
  margin: 0.5em;
  align-items: center;
  background-color: lavender;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}
.link-btn:hover {
  display: flex;
  cursor: pointer;
  /* border: solid black 2px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 0.5em;
  margin: 0.5em;
  align-items: center;
  background-color: lavender;
  border-radius: 100%;
}

/* Trying out a triangle shape */
/* .end-btn {
    display: flex;
  
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
  
    border-bottom: 2.5rem solid lavender;
  } */
.table-parent {
  display: flex;
  flex-direction: column;
  /* border: purple solid 3px; */
  width: 100%;
}
.table-top {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2.5px;
  background: aliceblue;
  /* margin-bottom: 2em; */
}
.table-title {
  justify-content: center;
  text-align: center;
  /* border: black solid 2px; */
  width: 100%;
}

.table-mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.table-child {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: aliceblue;
  margin: 2.5px;
  padding: 2.5px;
  flex: 1 1 15%;
}

.end-btn {
  display: flex;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  justify-content: center;
  padding: 0.5em;
  margin: 0.5em;
  align-items: center;
  background-color: lavender;

  width: 2.5rem;
  height: 2.5rem;
}

.listed-categories {
  /* padding-left: 0.5rem; */
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .btn-container {
    display: flex;
    /* border: solid green 5px; */
    justify-content: center;
    /* margin: 25px; */
    align-items: center;
  }
  .link-btn {
    display: flex;
    /* border: solid pink 2px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
    background-color: lavender;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
  }
  .link-btn:hover {
    display: flex;
    cursor: pointer;
    /* border: solid black 2px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
    background-color: lavender;
    border-radius: 100%;
  }

  .end-btn {
    display: flex;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
    background-color: lavender;
    /* border-radius: 100%; */
    width: 1rem;
    height: 1rem;
  }

  .listed-categories {
    /* padding-left: 0.5rem; */
    font-size: 18px;
  }
  .table-parent {
    display: flex;
    flex-direction: column;
    /* border: purple solid 3px; */
    width: 100%;
  }
  .table-top {
    display: flex;
    /* border: gray solid 3px; */
    /* justify-content: space-around; */
  }
  .table-title {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background: aliceblue;
    margin: 1px;
  }
  .table-mid {
    display: flex;
    /* border: gray solid 3px; */
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .table-child {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* border-radius: 5px; 5px rounded corners */
    background: aliceblue;
    margin: 2.5px;
    padding: 2.5px;

    flex: 1 1 33%;
  }
}

@media screen and (max-width: 425px) {
  .btn-container {
    display: flex;
    /* border: solid pink 1px; */
    justify-content: center;

    align-items: center;
  }
  .link-btn {
    display: flex;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    padding: 0.3em;
    margin: 0.3em;
    align-items: center;
    background-color: lavender;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
  }
  .end-btn {
    display: flex;
    justify-content: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 0.3em;
    margin: 0.3em;
    align-items: center;
    background-color: lavender;

    width: 1rem;
    height: 1rem;
  }
  .listed-categories {
    padding-left: 0.2rem;
    font-size: 12px;
    word-wrap: normal;
  }
  .table-title {
    justify-content: center;
    text-align: center;
    /* border: black solid 2px; */
    width: 100%;
  }
  .table-top {
    display: flex;
    /* border: gray solid 3px; */
    /* justify-content: space-around; */
  }
  .table-title {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background: aliceblue;
    margin: 2.5px;
  }
  .table-mid {
    display: flex;
    /* border: gray solid 3px; */
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .table-child {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* border-radius: 5px; 5px rounded corners */
    background: aliceblue;
    margin: 2.5px;
    padding: 2.5px;
    flex: 1 1 33%;
  }
}
@media screen and (max-width: 375px) {
  .btn-container {
    display: flex;
    /* border: solid lightslategrey 1px; */
    justify-content: center;

    align-items: center;
  }
  .link-btn {
    display: flex;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    padding: 0.3em;
    margin: 0.3em;
    align-items: center;
    background-color: lavender;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
  }

  .end-btn {
    display: flex;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    justify-content: center;
    padding: 0.3em;
    margin: 0.3em;
    align-items: center;
    background-color: lavender;

    width: 1.5rem;
    height: 1.5rem;
  }
  .listed-categories {
    padding-left: 0.2rem;
    font-size: 10px;
    word-wrap: normal;
  }
  .table-title {
    justify-content: center;
    text-align: center;
    margin: 2.5px;
    width: 100%;
  }
  .table-top {
    display: flex;
  }
  .table-title {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background: aliceblue;
    margin: 1px;
  }
  .table-mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .table-child {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: aliceblue;
    margin: 2.5px;
    padding: 2.5px;
    flex: 1 1 100%;
  }
}

/* ///search bar */
input {
  border-radius: 0;
}

input[type="text"] {
  -webkit-appearance: none;
}

#float-options {
  position: absolute;
  z-index: -1;
  font-size: 1.3em;

  /* background-color: #f9fbb4; */
  /* width: 25rem; */
}

.option {
  padding: 1px;
  border-bottom: solid lightgray 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); */
  background-color: white;
}
.option:hover {
  background-color: #f9fbb4;
  border-radius: 5px;
  cursor: pointer;
}
.data-table-padding {
  margin-top: 2rem;
}

#search_bar {
  border: 4px solid transparent;
  font-size: 15px;
  width: 15rem;
  padding: 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  border: solid gray 3px;
}
#search_bar:focus {
  width: 25rem;
  outline: none;
  /* background-color: #f9fbb4; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 4px solid #2c83c3;
}

.searchIcon {
  /* background-color: blue; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  height: 2em;
  width: 2em;
  border: 0;
  opacity: 0.2;
  margin-right: 0.2em;
  margin-left: 0.2em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAACnElEQVR4AcXZsUsbYRjH8e+dh2s1SyAGJwMJuDj1BIcEhJQIOnTq5F+QOf0jIq79A7oFh7aYyVBEkaZDC3awECc1AUXRIqUQotfFocnjJe/dk+b9PKP65Md7z13ee3Uwk2SNHKmngs5TnbDLJQqjA+RYZ4OXuDzvkSYf+cAJ44fPAYFhHeAzVhlqBBGrRoax8KjSJYhRXap4KCVoECiqQQKFLC0CZbXIElOBOwJ9cUchzm2Y5QsveN4tdfY4o00HSDHHPKuUmOV5v/D5SSSJ0MXfIY+HBB55dkIvRIIIvJDR28dnFJ/9kHH0MFaVDehRxlSZnuxAFUMZunKQKBJFUQ4wXTIYqcmPZ5GoFmUEahjw5eJTJI6ivBD4jCS/csrEVZZfU4yQk5OPhrwjcoRygQ0GVdCQf73OUEfisaMkHk1HDJHkYeDX82jlBzo+kCSEyxruwDP/EK1DbsWnhHDFgNTpodWjLgY9NECKfnvoyS4p8wBngN5Z/ABtQK8dP0AH0OuYB5iMqfAAMque7HJtHmAOPdnlxjzAPHqyy5V5gFX0ZJfj8AAn9CvhoeVRol8zPMAuj/xrlhW0Vpg1D3ApflhGR3b4wTlDvI24i4u+w9y0uyVrM213U1qxuy2/Z8bui8m23VezgGW7L6cBLdIWXs9FBAsHFCLCJI9opFMKXEzkkEp/IbK0bEdI0LARQRzVWoigPKy+Z5tlWooIiuP6NhVmAEiPNwLkqHDEw5CGx2wyDQDRI8T7l80U19xwxTFNmpwzKM1nFsyeCw7jFymCAxYjrHDp8r9cUOCUYRZ4Bw6AxVV47QJYXIVXLliNsOSC1Qh/XLAa4ZuDmmIcH1l2AaytwhZfmaAkn/qOb7eYBofJekOJJX7znfccAvwFyB3OeNys7d4AAAAASUVORK5CYII=");
}

.title-job {
  display: flex;
  font-size: 8px;
  border: 2px solid #2c83c3;
  border-radius: 15px;
  /* width: 7rem; */
  margin: 2px;
}
