// Colors
$white: #fff;
$gray: #F4F4F4;
$charcoal: #3c4858;


$blood-orange: #DB4125;
$blood-orange-hhl: #FBEBE8;

$mango: #ECA14D;
$mango-hhl: #FDF5EC;

$parchment: #F4F0D9;

$lilac: #B798E8;
$lilac-hhl: #F7F4FC;

$royal-purple: #633A9A;
$royal-purple-hhl: #EFEAF4;

$hydrogen-blue: #2c83c3;
$lightning-purple: #6c2d82;
$flare-fuschia: #ff3dac;
$burst-purple: #cb1f8e;
$galactic-black: #090816;
$sparkle-white: #f0f4ff;

$atomic-blue: #6812d1;
$atomic-blue-hl: #9F4BFF;

// Fonts
$sans-serif: Montserrat, Verdana, Arial, sans-serif;
$serif: 'Cormorant Garamond', 'Georgia', 'Times New Roman', serif;