// Colors
$white: #fff;
$gray: #F4F4F4;
$blood-orange: #DB4125;
$mango: #ECA14D;
$parchment: #F4F0D9;
$lilac: #B798E8;
$royal-purple: #633A9A;

$hydrogen-blue: #2c83c3;
$lightning-purple: #6c2d82;
$flare-fuschia: #ff3dac;
$atomic-blue: #6812d1;
$atomic-blue-hl: #9F4BFF;
$burst-purple: #cb1f8e;
$galactic-black: #090816;
$sparkle-white: #f0f4ff;

// Fonts
$sans-serif: Montserrat, Verdana, Arial, sans-serif;
$serif: 'Cormorant Garamond', 'Georgia', 'Times New Roman', serif;