.scroll-indicator-controller {
  position: fixed;
  top: 50vh;
  transform: translate(0, -50%);
  right: 10px;
  z-index: 999;
}
.scroll-indicator-controller.indi-mobile > div span {
  display: none;
}
@media (min-width: 1025px) {
  .scroll-indicator-controller {
    right: 20px;
  }
}
.scroll-indicator-controller > div {
  width: 17px;
  height: 17px;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgb(190, 190, 190);
  background: rgba(0, 0, 0, 0.25);
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: background 0.4s ease;
  will-change: transition;
}
.scroll-indicator-controller > div span {
  color: rgb(0, 0, 0);
  position: absolute;
  right: calc(100% + 8px);
  white-space: nowrap;
  top: 50%;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 17px;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-50%) translateX(10px);
  transition: all 0.4s ease;
  will-change: transition;
  color: #363636;
  background-color: #D5E6F3;
  border: 1px solid #363636;
  border-radius: 6px;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  padding: 6px;
}

@media (hover:hover) {
.scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateY(-50%) translateX(0px);
  }
}

.scroll-indicator-controller > div:active span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateY(-50%) translateX(0px);
}

.scroll-indicator-controller > div.activeDot {
  background: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.25);
}
@supports (-ms-ime-align:auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease;
  }
}
